<!doctype html>
<html lang="en">

    <body>
       
        <div  id="app">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand">{{ title }}</a>
                        </div>
                        
                        <ul class="nav">
                                <li style="margin-right: 10px;" class="btn btn-primary btn-sm" v-on:click="clearMessages()">Clear messages</li>
                                
                                <a style="margin-right: 10px;" class="btn btn-primary btn-sm" href="/.auth/login/aad" v-if="!user.userDetails">Login</a> 
                                
                                <a style="margin-right: 10px;" class="btn btn-primary btn-sm" href="/.auth/logout" v-if="user.userDetails">Log out</a>
                        </ul>
                        
                    </div>
            </nav>
            <div class="container" style="margin-top: 10px;" v-if="user.userDetails">
                <p>User: {{ user.userDetails }}</p>
              </div>
            <div class="container" style="margin-top: 10px;">
              <label for="devices" >Choose device:</label>
              <select name="devices" id="devices" v-model="device" v-on:change="selectDevice()">
                <option v-for="device in devices" v-bind:value="device.id">
                    {{ device.id }}
                </option>
              </select>
            </div>
            
            <div class="container" style="margin-top: 10px;">
                <div class="card" >
                    <div class="card-header">
                        Messages from {{ device }} will appear below
                    </div>

                    <div class="card-body">       
                        <div class="card-text" v-if="messages.length==0">
                                Waiting...
                        </div>         
                        <ul id="messages" class="list-group">
                            <li v-for="message in messages" class="list-group-item list-group-item-success">
                                    {{ message }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        

    </body>
        
</html>
